# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
#from config import g_key
gkey='AIzaSyA-ID1L5POajfL01AYW2ZHTmER2A5mJT4M'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
df=pd.read_csv("../WeatherPy/cities.csv")
df.head()

,Unnamed: 0,City,Latitude,Longtitude,Temp,Max Temp,Cloudiness,Humidity,Wind
0,0,luanda,-8.84,13.23,84.20,84.20,75.0,74.0,13.87
1,1,leiyang,26.40,112.86,49.14,49.14,95.0,90.0,3.76
2,2,yellowknife,62.46,-114.35,-2.74,-2.20,75.0,77.0,16.11
3,3,hermanus,-34.42,19.23,67.80,70.00,49.0,80.0,5.99
4,4,kharan,28.58,65.42,54.64,54.64,0.0,47.0,8.43

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
#configure gmaps with API key
gmaps.configure(api_key=gkey)

In [18]:
#Store lat and long into Locations
locations=df[['Latitude','Longtitude']].astype(float)

df=df.dropna()
humid=df['Humidity'].astype(float)

In [19]:
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(locations,weights=humid,dissipating=False,max_intensity=100,point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [79]:
df_narrow=df[(df['Max Temp']<70) & (df['Wind']<10) & (df['Cloudiness']==0)]
df_narrow

,Unnamed: 0,City,Latitude,Longtitude,Temp,Max Temp,Cloudiness,Humidity,Wind
4,4,kharan,28.58,65.42,54.64,54.64,0.0,47.0,8.43
10,10,darhan,49.49,105.92,-9.49,-9.49,0.0,88.0,2.04
23,23,ranong,28.02,73.30,58.59,58.59,0.0,46.0,7.76
102,102,airai,59.70,150.17,-10.46,-10.46,0.0,83.0,5.53
106,106,cherskiy,29.03,21.55,53.82,53.82,0.0,55.0,5.73
111,111,hasaki,30.92,66.45,36.99,36.99,0.0,60.0,1.36
138,138,mar del plata,32.25,67.25,13.95,13.95,0.0,75.0,2.68
190,190,belushya guba,63.83,20.26,29.79,30.20,0.0,80.0,4.70
200,200,ust-nera,64.38,-173.30,-12.89,-12.89,0.0,88.0,2.51
206,206,tucuman,71.92,114.08,-39.96,-39.96,0.0,93.0,7.96
220,220,iqaluit,17.47,-97.23,68.29,68.29,0.0,39.0,4.43
286,286,port lincoln,30.44,48.17,52.79,53.60,0.0,62.0,4.70
291,291,danjiangkou,25.52,90.22,55.80,55.80,0.0,53.0,2.53
294,294,rapid valley,45.67,18.98,29.43,32.00,0.0,92.0,6.93
307,307,slidell,45.76,106.27,1.38,1.38,0.0,75.0,8.48
310,310,belmopan,25.02,37.27,55.49,55.49,0.0,37.0,9.95
396,396,abilene,54.43,113.60,-21.14,-21.14,0.0,78.0,5.26
402,402,mullaitivu,-28.55,16.43,68.32,68.32,0.0,76.0,8.37
466,466,lyuban,59.38,143.30,-22.68,-22.68,0.0,69.0,7.02
518,518,santarem,22.93,57.53,61.56,61.56,0.0,60.0,6.22
519,519,narasannapeta,57.26,16.45,34.99,37.00,0.0,64.0,5.82
546,546,mitsamiouli,56.66,16.36,35.35,37.00,0.0,64.0,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [80]:
hotel_df=df_narrow[['City','Latitude','Longtitude']]
#hotel_df['Location']=list(zip(hotel_df.Latitude,hotel_df.Longtitude))
#hotel_df['Location'].str.replace(r"\(.*\)","")
#Location=f"{Latitude},{Longtitude}"
hotel_df

              City  Latitude  Longtitude
4           kharan     28.58       65.42
10          darhan     49.49      105.92
23          ranong     28.02       73.30
102          airai     59.70      150.17
106       cherskiy     29.03       21.55
111         hasaki     30.92       66.45
138  mar del plata     32.25       67.25
190  belushya guba     63.83       20.26
200       ust-nera     64.38     -173.30
206        tucuman     71.92      114.08
220        iqaluit     17.47      -97.23
286   port lincoln     30.44       48.17
291    danjiangkou     25.52       90.22
294   rapid valley     45.67       18.98
307        slidell     45.76      106.27
310       belmopan     25.02       37.27
396        abilene     54.43      113.60
402     mullaitivu    -28.55       16.43
466         lyuban     59.38      143.30
518       santarem     22.93       57.53
519  narasannapeta     57.26       16.45
546    mitsamiouli     56.66       16.36

In [81]:
hotel_df['name'] = ""
hotel_df['address'] = ""
#types_df['price_level'] = ""
#types_df['rating'] = ""
hotel_df

C:\Users\fkari\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\fkari\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              City  Latitude  Longtitude name address
4           kharan     28.58       65.42
10          darhan     49.49      105.92
23          ranong     28.02       73.30
102          airai     59.70      150.17
106       cherskiy     29.03       21.55
111         hasaki     30.92       66.45
138  mar del plata     32.25       67.25
190  belushya guba     63.83       20.26
200       ust-nera     64.38     -173.30
206        tucuman     71.92      114.08
220        iqaluit     17.47      -97.23
286   port lincoln     30.44       48.17
291    danjiangkou     25.52       90.22
294   rapid valley     45.67       18.98
307        slidell     45.76      106.27
310       belmopan     25.02       37.27
396        abilene     54.43      113.60
402     mullaitivu    -28.55       16.43
466         lyuban     59.38      143.30
518       santarem     22.93       57.53
519  narasannapeta     57.26       16.45
546    mitsamiouli     56.66       16.36

In [96]:
reser='hotel'
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby":"distance",
    "type": reser,
    "key": gkey
}
# use iterrows to iterate through pandas dataframe
for index in hotel_df.iterrows():

    # get restaurant type from df
   # hotel_loc = row['Location']

    # add location to params dict
    params['location'] =("{Latitude}","{Longtitude}")

    # assemble url and make API request
    #print(f"Retrieving Results for Index {index}: { hotel_df}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    #print(response)
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        #types_df.loc[index, 'address'] = results[0]['vicinity']
        #types_df.loc[index, 'price_level'] = results[0]['price_level']
        #types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    pass
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

              City  Latitude  Longtitude name address
4           kharan     28.58       65.42
10          darhan     49.49      105.92
23          ranong     28.02       73.30
102          airai     59.70      150.17
106       cherskiy     29.03       21.55
111         hasaki     30.92       66.45
138  mar del plata     32.25       67.25
190  belushya guba     63.83       20.26
200       ust-nera     64.38     -173.30
206        tucuman     71.92      114.08
220        iqaluit     17.47      -97.23
286   port lincoln     30.44       48.17
291    danjiangkou     25.52       90.22
294   rapid valley     45.67       18.98
307        slidell     45.76      106.27
310       belmopan     25.02       37.27
396        abilene     54.43      113.60
402     mullaitivu    -28.55       16.43
466         lyuban     59.38      143.30
518       santarem     22.93       57.53
519  narasannapeta     57.26       16.45
546    mitsamiouli     56.66       16.36

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map